<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">

    <title>iSpend-iTrack A money tracking app</title>
  </head>
  <body>
    <header>
      <h1>iSpend-iTrack</h1>
      <nav>
        <ul class="flex">
          <a href="/"><button class="button">Home</button></a>

          <a href="/transactions/current"><button class="button">Current month</button></a>
          <a href="/transactions"><button class="button">All transactions</button></a>

  

          <a href="/months"><button class="button">Monthly history</button></a>
          <a href="/wallets"><button class="button">Budget</button></a>
          <a href="/transactions/new"><button class="button trans-button">Add a transaction</button></a>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
  </body>
</html>
