
<h3>Enter the name of the shop so that you can add transactions from that shop.</h3>

<form method="post" action="/shops">


  <div>
    <label>Name:</label>
    <div >
      <input
      type="text"
      name="name"
      placeholder="shop name"
      required
      />
    </div>
  </div>


  <button>Save shop</button>
  </form>
