table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    background-color: rgba(255,255,255,1);


}

.smaller-table {
  width: 50%;
}

th, td {
    text-align: center;
    padding: 4px;
    border: 1px black solid;
}


tr:nth-child(even){background-color: white;}
tr:nth-child(odd){background-color: #e0e0e0;}


th {
  background-color: #4CAF50;
  color: white;
}
