<h3>Enter the name of a category so that you can add transactions linked to that category.</h3>

<form method="post" action="/categories">


  <div>
    <label>Name:</label>
    <div >
      <input
      type="text"
      name="name"
      placeholder="category name"
      required
      />
    </div>
  </div>


  <button>Save category</button>
  </form>
